* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0a0406;
}

.img img {
    width: 100%
}

.form {
    padding: 15px 20px 0 20px;
    background-color: #f5f5f5;
}

.form__input {
    background-color: #fff;
    
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.form__label {
    font-size: 20px;
    font-weight: bold;
}

.form__submit {
    width: 100%;
    background-color: #cb382f;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.form__submit:hover {
    background-color: #96130c;
    cursor: pointer;
}

.error-message {
    color: red;
    opacity: 0;
}

.form__cancel {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    display: none;    
}

.label__inner {
    text-decoration: underline solid #cb382f 3px;
    text-underline-offset: 5px;
}

.label__inner:hover {
    text-decoration: none;
    color: #cb382f;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .form,
    .form__cancel {
        width: 500px;
        margin: 0 auto;
    }
    .img {
        text-align: center;
    }
    .img img {
        width: 500px
    }
    
}